# Ignore model checkpoints
model_checkpoint/model.pt

# Ignore Python cache
**/__pycache__/
**/*.pyc

# Ignore Jupyter notebook checkpoints
**/.ipynb_checkpoints

# Ignore OS-specific files
.DS_Store

